<nav class="navbar">
  <div class="logo">
    <img src="assets/logo.png" alt="FaceMadero logo" />
  </div>

  <ul class="nav-links" *ngIf="!isLoggedIn">
    <li><a routerLink="/login">Prijava</a></li>
    <li><a routerLink="/register">Registracija</a></li>
  </ul>

  <ul class="nav-links" *ngIf="isLoggedIn">
    <li><a routerLink="/home">Početna</a></li>
    <li><a routerLink="/profile">Profil</a></li>
    <li><a routerLink="/search">Pretraga</a></li>
    <li><a routerLink="/cart">Korpa</a></li>
    <li><a (click)="logout()">Odjava</a></li>
  </ul>


</nav>
