<nav class="navbar">
  <div class="logo">
    <a routerLink="/welcome">
      <img src="assets/images/logo.jpg" alt="FaceMadero logo" />
    </a>
  </div>

  <ul class="nav-links" *ngIf="!isLoggedIn">
    <li><a routerLink="/login">Prijava</a></li>
    <li><a routerLink="/register">Registracija</a></li>
  </ul>

  <ul class="nav-links" *ngIf="isLoggedIn">
    <li><a routerLink="/welcome">Početna</a></li>
    <li><a routerLink="/home">Tretmani</a></li>
    <li><a routerLink="/profile">Profil</a></li>
    <li><a routerLink="/search">Pretraga</a></li>
    <li><a routerLink="/cart">Korpa</a></li>
    <li><a (click)="logout()">Odjava</a></li>
  </ul>

  <div class="menu-icon" (click)="toggleMenu()">
    <span class="menu-bar"></span>
    <span class="menu-bar"></span>
    <span class="menu-bar"></span>
  </div>
</nav>
