<!-- Slika citata na vrhu -->
<div class="quote-banner">
  <img src="assets/images/Q.jpg" alt="Inspirativni citat">
</div>
<div class="profile-container">



  <!-- Profil info i slike brendova sa desne strane -->
  <div class="profile-main">
    <div class="profile-info">
      <h2>Profil korisnika</h2>
      <ul>
        <li><strong>Ime:</strong> {{ data.ime }}</li>
        <li><strong>Prezime:</strong> {{ data.prezime }}</li>
        <li><strong>Email:</strong> {{ data.email }}</li>
        <li><strong>Telefon:</strong> {{ data.telefon }}</li>
        <li><strong>Adresa:</strong> {{ data.adresa }}</li>
        <li><strong>Instagram:</strong>
          <a href="https://www.instagram.com/{{ data.instagram }}" target="_blank">{{ '@' + data.instagram }}</a>
        </li>
        <li><strong>Specijalnost:</strong> {{ data.specijalnost }}</li>
      </ul>
      <div class="button-container">
        <button (click)="bookAppointment()">Rezerviši Tretman</button>
      </div>
    </div>

    <div class="brands-images">
      <img *ngFor="let img of data.cosmetics" [src]="img.src" [alt]="img.alt">
    </div>
  </div>

  <!-- Galerija radova -->
  <div class="works-gallery">

    <div class="gallery-row">
      <img *ngFor="let img of data.works" [src]="img.src" [alt]="img.alt" (click)="openModal(img)">

    </div>
  </div>
  <!-- Modal za prikaz slike -->
  <div class="modal" [class.show]="modalOpen" (click)="closeModal()">
    <img *ngIf="selectedImage" [src]="selectedImage.src" [alt]="selectedImage.alt" class="modal-image" (click)="$event.stopPropagation()">
  </div>


</div>
