.search-container {
  max-width: 450px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: rgba(214, 234, 223, 0.51);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Lora', serif;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

h2 {
  font-size: 30px;
  color: #2a4a77;
  font-weight: 600;
  margin-bottom: 1rem;
}

button.mat-raised-button {
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button.mat-raised-button[color="primary"] {
  background-color: #5f9ea0;
  color: white;
}

button.mat-raised-button[color="primary"]:hover {
  background-color: #2a4a77;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 1rem;
}

.cards-container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.usluga-card {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

.no-results {
  margin-top: 1.5rem;
  font-style: italic;
  color: #777;
  text-align: center;
}
