
<div class="register-container">
  <h2>Registracija</h2>

  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" novalidate>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Ime</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error *ngIf="registerForm.get('firstName')?.hasError('required')">
        Ime je obavezno
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Prezime</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error *ngIf="registerForm.get('lastName')?.hasError('required')">
        Prezime je obavezno
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
        Email je obavezan
      </mat-error>
      <mat-error *ngIf="registerForm.get('email')?.hasError('minlength')">
        Email mora imati najmanje 8 karaktera
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Lozinka</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
        Lozinka je obavezna
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Telefon</mat-label>
      <input matInput formControlName="phone" />
      <mat-error *ngIf="registerForm.get('phone')?.hasError('required')">
        Telefon je obavezan
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Datum rođenja</mat-label>
      <input matInput type="date" formControlName="birthDate" />
      <mat-error *ngIf="registerForm.get('birthDate')?.hasError('required')">
        Datum rođenja je obavezan
      </mat-error>
    </mat-form-field>

    <div *ngIf="userExists" class="error-message">
      Korisnik sa ovim emailom već postoji!
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="registerForm.invalid"
    >
      Registruj se
    </button>
  </form>
</div>
